# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# WebDriver binaries
*.exe
chromedriver*
geckodriver*

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
.env
*.log
config.py

subject_names_extractor.py